# Byte-compiled / optimized / DLL files
__pycache__/
ec_toolkit/logger/__pycache__
*.py[cod]
*$py.class


# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
*.egg-info/
.installed.cfg
lib/
lib64/
parts/
sdist/
var/
*.egg
MANIFEST

# Virtual environment
venv/
ENV/
env/
.venv/

# PyInstaller
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# VS Code
.vscode/